<ion-header>
  <app-header titulo="Alert"></app-header>
</ion-header>
<ion-content class="ion-padding">
  <ion-button (click)="onClick()" expand="block">
    Alerta simple
  </ion-button>
  <ion-button (click)="onClickMultiple()" expand="block">
    Alerta multiple
  </ion-button>
  <ion-button (click)="onClickConfirm()" expand="block">
    Alerta confirmar
  </ion-button>
  <ion-button (click)="onClickPrompt()" expand="block">
    Alerta prompt
  </ion-button>
  <ion-button (click)="onClickRadio()" expand="block">
    Alerta radio
  </ion-button>
  <ion-button (click)="onClickCheckBox()" expand="block">
    Alerta checkbox
  </ion-button>
  
  
</ion-content>
