<ion-tabs color="transparent">
  <ion-tab-bar slot="bottom,top">

    <ion-tab-button tab="fab" class="tab-button" id="tab-button-1" (click)="onClickTab1()">
      <span><ion-icon size="big" color="danger" name="apps"></ion-icon></span>
      <ion-label color="danger">Fab</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards" class="tab-button tab-active" id="tab-button-2" (click)="onClickTab2()">
      <span><ion-icon size="big" color="danger" name="flash"></ion-icon></span>
      <ion-label color="danger">Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="infinite" class="tab-button" id="tab-button-3" (click)="onClickTab3()">
      <span><ion-icon size="big" color="danger" name="infinite"></ion-icon></span>
      <ion-label color="danger">Infinite</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

